*~
*.scsyndef
*.gosyndef
*.svg
*.dot
*.log
*.xml
core
binop
inspect
status
printgroup
quit
runServer
sdef
senddef
status
testTone
melody
oxygen
playbuf
cosc
combc
decay2
delayc
free
brf
bpf
balance2
fsinosc
formlet
lfcub
freeverb
